<div class="d-flex">

    <!-- <a href="index.html">
        <div class="logo">
            <img src="assets/logo.png" alt="">
        </div>
    </a> -->
    <div class="container">
        <div class="content">
            <h2>Connexion</h2>
            <form (submit)="onSubmitUserLoginForm($event)" [formGroup]="userLoginForm">

                <div class="input-group">
                    <input type="text" formControlName="username" type="text" placeholder="E-mail ou nom d'utilisateur">
                    <!-- paragraphe erreur en testant si :  instanceDeFormControl['username'].errors -->
                    @if(userLoginForm.controls['username'].errors && isSubmitted) {
                    <div class="form-text error">Le champ est requis - min 2 car. max 10 car.</div>
                    }
                </div>


                <div class="input-group">
                    <input type="password" formControlName="password" placeholder="Mot de passe">
                    <!-- paragraphe erreur en testant si :  instanceDeFormControl['username'].errors -->
                    @if(userLoginForm.controls['password'].errors && isSubmitted) {
                    <div class="form-text error">Le champ est requis - min 2 car. max 5 car.</div>
                    }
                </div>

                <div class="extra">
                    <button>Connexion</button>
                </div>
                <p>
                    Vous n'avez pas de compte ?
                    <a routerLink="/register">Créer un compte</a>
                </p>
            </form>
        </div>
    </div>

</div>