// nav.bg-navbar {
//     background: #0e0b14;
// }

// nav.bg-navbar a.navbar-brand {
//     color: #f9f9f9;
// }

// nav.bg-navbar a.nav-link {
//     color: #f9f9f9;
//     text-transform: uppercase;
//     font-size: 14px;
//     font-weight: bold;
// }

// nav.bg-navbar a.nav-link:hover {
//     color: pink;
// }

nav.bg-navbar {
    background: #0e0b14;

    a.navbar-brand {
        color: #48a8e4;
    }

    a.nav-link {
        color: #f9f9f9;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        padding: 8px 16px;
        letter-spacing: 0.5px;

        &:hover {
            color: #fff;
        }
    }

    a.nav-link::before {
        content: "";
        width: auto;
        height: 3px;
        background: linear-gradient(45deg, #009dff, #ff00ee);
        position: absolute;
        transform: scaleX(0);
        visibility: visible;
        opacity: 0 !important;
        bottom: 3px;
        left: 16px;
        right: 16px;
        transform-origin: left center;
        transition-duration: .5s;
    }

    li a.nav-link.active::before {
        transform: scaleX(1);
        opacity: 1 !important;
    }

    li:hover {
        cursor: pointer;

        a.nav-link::before {
            transform: scaleX(1);
            opacity: 1 !important;
        }
    }
}