// nav.bg-navbar {
//     background: #0e0b14;
// }

// nav.bg-navbar a.navbar-brand {
//     color: #f9f9f9;
// }

// nav.bg-navbar a.nav-link {
//     color: #f9f9f9;
//     text-transform: uppercase;
//     font-size: 14px;
//     font-weight: bold;
// }

// nav.bg-navbar a.nav-link:hover {
//     color: pink;
// }

nav.bg-navbar {
    background: #0e0b14;

    a.navbar-brand {
        color: #f9f9f9;
    }

    a.nav-link {
        color: #f9f9f9;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;

        &:hover {
            color: rgb(230, 0, 246)
        }
    }
}