button {
    align-items: center;
    background-color: rgba(182, 182, 182, 0.2);
    border-radius: 18px;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 0px;
    position: relative;
    transition: all 0.3s ease 0s;
    box-sizing: border-box;
    color: rgb(249, 249, 249);
    border: none;
    padding: 0px 15px 0px 16px;
    height: 36px;
    width: 150px;
    outline: 0px !important;
    font-weight: 600;
    position: relative;
}

button:hover {
    background-color: #272727;
}

ul {
    background-color: rgb(34, 33, 33);
    padding: 3px 0px;
    position: absolute;
    top: 45px;
    z-index: 999;
    width: 150px;
    border: 1px solid #545454;
}

ul li {
    list-style: none;
    padding: 2px 13px;
    text-transform: uppercase;
    font-size: .9rem;

}

ul li:hover,
ul li.selected {
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}