<div class="row g-4 p-5">
    <div class="d-flex d-flex align-items-center">
        <h1>Tv & séries</h1>

        <app-dropdown (OnSelectItemEvent)="selectGenre($event)" [items]="genres" />

    </div>
    <!-- on itere une .col par movie-->
    @for (itemTvShow of tvshows$ | async; track itemTvShow.id) {
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 animate__animated animate__fadeIn">
        <app-card [routerLink]="['/tv', itemTvShow.id]" [item]="itemTvShow"></app-card>
    </div>
    }
</div>