<!-- <app-navbar> -->
<app-navbar></app-navbar>

<div class="container-fluid p-5">

  <!-- <app-movie-list-view> --->
  <!-- <app-tv-list-view></app-tv-list-view> -->

  <router-outlet></router-outlet>


  <!-- 
    Le routing (la navigation) consiste à afficher un component 
    ou un autre de manière selective SELON
    -> le changement d'URL 

    routes = [
      { path: '', component: MovieListView },
      { path: 'tv', component: TvListView },
      { path: 'user-profil', component: UserProfile },
    ]
   
  -->

</div>