<div class="row g-4 p-5">
    <div class="d-flex d-flex align-items-center">
        <h1>Films</h1>

        <app-dropdown (OnSelectItemEvent)="selectGenre($event)" [items]="genres"></app-dropdown>

    </div>
    <!-- on itere une .col par movie-->
    @for (itemMovie of movies$ | async ; track itemMovie.id) {
    <div class="col-12 col-md-6 col-lg-4 col-xxl-2 animate__animated animate__fadeIn">
        <app-card [routerLink]="['/movies', itemMovie.id]" [item]="itemMovie"></app-card>
    </div>
    }
</div>