<div class="row g-4 p-5">

    <h1>Accueil</h1>
    <!-- on itere une .col par movie-->



    <h3>Films</h3>
    @for (itemMovie of movies; track itemMovie.id) {
    <div class="col-12 col-md-6 col-lg-4 col-xxl-2 animate__animated animate__fadeIn">
        <app-card [routerLink]="['/movies', itemMovie.id]" [item]="itemMovie"></app-card>
    </div>
    }

    <h3>Séries</h3>
    @for (itemTvSHow of tv; track itemTvSHow.id) {
    <div class="col-12 col-md-6 col-lg-4 col-xxl-2 animate__animated animate__fadeIn">
        <app-card [routerLink]="['/tv', itemTvSHow.id]" [item]="itemTvSHow"></app-card>
    </div>
    }
</div>